<div class="form-group">
  <label for="name">Name</label>
  <input type="text" name="name" id="description" class="form-control"><%= user.name %></textarea>
</div>
<div class="form-group">
  <label for="username">User Name</label>
  <input type="text" name="username" id="description" class="form-control"><%= user.username %></textarea>
</div>
<div class="form-group">
  <label for="age">Age</label>
  <input type="number" required name="age" id="markdown" class="form-control"><%= user.age %></textarea>
</div>
<div class="form-group">
  <label for="email">E-mail</label>
  <input type="email" required name="email" id="markdown" class="form-control"><%= user.email %></textarea>
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input type="password" required name="password" id="markdown" class="form-control"><%= user.password %></textarea>
</div>


<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>